/* Kode for collapsibles er hentet fra https://www.w3schools.com/howto/howto_js_collapsible.asp */

body {
  background: #F4F4F4;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color:#1d2730;
}

h2 {
  font-size: 25px;
  color:#22303d;
}

h3,
h3 a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 75, 75);
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
}

#a1 {
  margin-right: 3em;
}

a {
  color: #a5330d;
}
/* Style collapsible knappen */
.collapsible {
  background-color: #2F485E;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  height: 5em;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1px;
  margin-top: 2px;
  margin-left: 10%;
  border-radius: 5px;
}

.bilderknapp {
  background-color: #5C758A;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
  margin-top: 1em;
  border-radius: 5px;
}

/* Legger til bakgrunnsfarge på knappen hvis den er trykket på/aktiv og ved hover */
.active,
.collapsible:hover {
  background-color: #22303d;
}

.active1,
.bilderknapp:hover {
  background-color: #2F485E;
}

/* Legger til focus-visible så man kan se når man tab'er gjennom collapsibles */
.collapsible:focus-visible {
    outline: 3px solid rgb(0, 0, 0);
}

.bilderknapp:focus-visible {
  outline: 3px solid rgb(0, 0, 0);
}

/* Styling av innholdet i collapsable (default hidden) */
.content {
  padding: 1em;
  display: none;
  overflow: hidden;
  border-color: #d3dade;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

.bilder {
  padding: 1em;
  display: none;
  overflow: hidden;
  background-color: #859bad;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

/* Styling av tekst */

.feil strong{
  color: #a5330d;
  font-size: 18px;
}


/* Styling av footer/liste over krav som ikke er relevant til siden */
footer {
  color: #3B3B3B;
  font-style: italic;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
}

/* Styling av tabell */
table {
  border: 1px solid rgb(179, 179, 179);
  width: 60%;
}

td,
th {
  padding: 0.7em;
  border-bottom: 1px solid rgb(179, 179, 179);
  border-left: 1px solid rgb(179, 179, 179);
}

th.lenke {
  width: 40%;
}

/* Setter størrelse på bilder */
img {
  width: 50%;
}

/* Styler skjermleser collapsible */
#skjermleser{
  background-color: #5C758A;
  margin-top: 25px;
}

#skjermleser:hover{
  background-color: #2F485E;
}

#skjermleser2{
  background-color: #5C758A;
  margin-top: 25px;
  width: 100%;
  margin-left: 0;
}

#skjermleser:hover2{
  background-color: #2F485E;
}

.content2 {
  padding: 1em;
  display: none;
  overflow: hidden;
  border-color: #d3dade;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  border-radius: 5px;
}

